@use "sass:color";

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  src: local(''),
	   url('fonts/bebas-neue-v9-latin-regular.woff2') format('woff2'), 
	   url('fonts/bebas-neue-v9-latin-regular.woff') format('woff'); 
}

@font-face {
  font-display: swap; 
  font-family: 'D-DIN';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/D-DIN.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'D-DIN';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/D-DIN-Bold.woff2') format('woff2');
}

// Font weights
$light: 100;
$regular: 400;
$bold: 700; 

// Base Font
$base-font-family: "D-DIN", arial, sans-serif;
$base-font-weight: $regular;
$base-font-size: 18px;
$base-line-height: 1.5;

$header-font-family: 'Bebas Neue', arial, sans-serif;

// Colours 

$colour-text: #222;

$colour-link: #5c9bbf;
$colour-link-hover: color.adjust($colour-link, $lightness: 10%);


$colour-button: #5c9bbf;
$colour-button-hover: color.adjust($colour-button, $lightness: 10%);