body {
	font-size:14pt;
}

img {
	height:auto;
	max-width: 100%;
}

#header-logo {
	width:500pt;
}

#header .social {
	display:none;
}

#nav2 {
	display:none;
}

h1,h2,h3 {
	font-weight: normal;
	text-transform: uppercase;
}

.slider {
	display:none;
}