/* Dashboard */

#event_tribe_venue,
#event_tribe_organizer,
#event_url,
#event_cost {
	display: none;
}

#event_cost .eventBritePluginPlug {
	display:none;
}


/* Remove Yoast clutter */

#yoast-warnings #wpseo-upsell-notice {
	display:none;
}

.yoast_premium_upsell_admin_block {display:none}

.wpseo-metabox-buy-premium{display:none;}

#sidebar-container.wpseo_content_cell{display:none!important;}

#yoast-seo-dashboard-widget .wordpress-feed {
	display:none;
}

.yoast_premium_upsell {
	display:none;
}
