html {
	margin:0;
	padding:0;
	height:100%;
	width:100%;
}

body {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	box-sizing: border-box;
	color:#999;
	font-family: 'work sans', helvetica, arial, sans-serif;
	font-size:18px;
	height:100%;
	letter-spacing: -1px;
	line-height: 1.2;
	margin:0;
	padding:30px;
	text-align:center; 
	width:100%;
}

#comingsoon {
	height:100%;
	margin: 0 auto;
	max-width:650px;
}

#comingsoon .inner1 {
	align-items: center;
	display: flex;
	height:100%;
}

#comingsoon .inner2 {
	background: rgba(255,255,255,0.75);
	border-radius:10px;
	margin:0 auto;
	padding:30px;
}

h1, h2 {
	font-size:40px;
	font-weight:bold;
	letter-spacing: -1px;
}

a img {border:0;}

a {
	color:#999;
}

a:hover {
	color:#666;
}


@media only screen and (max-width: 599px) {
	body {
		background-image: url(bg-mob-min.jpg);
	}	
}

@media only screen and (min-width: 600px) {
	body {
		background-image: url(bg-desktop-min.jpg);
		padding:50px;
	}	
	
	#comingsoon .inner2 {
		padding:50px;
	}
	
	
}